/* src/layouts/StudentLayout.css */

.student-layout {
	min-height: 100vh;

	background-color: var(--color-bg);
	color: var(--color-text);
}

.student-content {
	width: 100%;

	max-width: 1200px;

	margin: 0 auto;

	padding: var(--space-xl) 20px 100px;

	box-sizing: border-box;
}

@media (min-width: 768px) {
	.student-content {
		padding-bottom: var(--space-xl);
	}
}
